.container {
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: repeat(auto-fit, 200px);
}

img{
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.one{
    background-color: blue;
}