.container {
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: repeat(auto-fit, 200px);
    align-items: center;
    gap: 10px;
}

img{
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.container2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
}

. {
    padding: 20px; /* Отступы внутри блока */
    color: white; /* Цвет текста */
    text-align: center; /* Центрируем текст */
    border-radius: 8px; /* Закругленные углы */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
}